{{ $photo := .Site.Params.photo }}
{{ $about := .Site.Params.about }}
{{ .Scratch.Set "aboutText" $about }}
{{ if and $photo $about }}
  {{ if in $about "**Haoxing**" }}
    {{ .Scratch.Set "aboutText" (replace $about "**Haoxing**" (printf "[**Haoxing**](%s)" $photo)) }}
  {{ else if in $about "Haoxing" }}
    {{ .Scratch.Set "aboutText" (replace $about "Haoxing" (printf "[Haoxing](%s)" $photo)) }}
  {{ end }}
{{ end }}

{{ .Scratch.Get "aboutText" | .RenderString }}

{{ range $links := .Site.Params.links }}
  <p class="horizontal-links">
    {{- range $links.link -}}
      <a href="{{ .href }}"
       {{ if .new_tab }} target="_blank" {{end}}
       {{ if .smart_email_link }} class="email-hook" id="about-email" title="Click to show email" {{end}}
      >
        {{- .name -}}
      </a>
    {{- end -}}
  </p>
{{ end }}
