<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ if ne .Title .Site.Title }}{{ .Title }} · {{ end }}{{ .Site.Title }}</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,400;8..60,600;8..60,700&family=Inter:wght@400;500;600;700&family=Klee+One:wght@400;600&display=swap" rel="stylesheet">

{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "css/rocinante.scss" | resources.ToCSS $options  }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />

{{ with .Site.Params.favicon }}
<link rel="shortcut icon" href="{{ . }}">
{{ end }}

{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}