{{ define "main" }}
    {{- partial "about.html" . -}}
    {{- partial "last_updated.html" . -}}
    <hr>

    <ul class="post-index">
    {{ range (where site.RegularPages "Type" "in" site.Params.mainSections) }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <span class="date">
            {{ if eq .Type "photos" }}
                {{ .Params.display_date }}{{ with .Params.location }} · {{ . }}{{ end }}
            {{ else }}
                {{ .Params.date.Format "Jan 02, 2006" }}
            {{ end }}
            </span>
        </li>
    {{ end }}
    </ul>
{{ end }}